* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monospac821 BT", monospace;
  text-transform: uppercase;
}

:root {
  --font-primaria: "Monospac821 BT", monospace;
  --black: #191919;
  --white: #ffffff;
  --bgwhite: #f3f3f359;
  --bgblack: #191919e3;
  --grey: #e2e4e200;
  --blue: #0026ff;
  --red: #ff0000;
}

html {
  scroll-behavior: smooth;
}

/* LOADER  https://css-loaders.com/clones/ */

#ctn-loader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 22px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--white);
  animation: l10 1s infinite linear;
}
@keyframes l10 {
  0%    {box-shadow: 
          0 -30px var(--red), calc(30px*0.707) calc(-30px*0.707) var(--blue),30px 0 var(--red), 0 0 var(--blue),
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue)}
  12.5% {box-shadow: 
          0 0 var(--red), calc(30px*0.707) calc(-30px*0.707) var(--blue),30px 0 var(--red), calc(30px*0.707) calc(30px*0.707) var(--blue),
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue)}
  25%   {box-shadow: 
          0 0 var(--red), 0 0 var(--blue),30px 0 var(--red), calc(30px*0.707) calc(30px*0.707) var(--blue),
          0 30px var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue)}
  37.5% {box-shadow: 
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), calc(30px*0.707) calc(30px*0.707) var(--blue),
          0 30px var(--red), calc(-30px*0.707) calc(30px*0.707) var(--blue),0 0 var(--red), 0 0 var(--blue)}
  50%   {box-shadow: 
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue),
          0 30px var(--red), calc(-30px*0.707) calc(30px*0.707) var(--blue),-30px 0 var(--red), 0 0 var(--blue)}
  62.5% {box-shadow: 
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue),
          0 0 var(--red), calc(-30px*0.707) calc(30px*0.707) var(--blue),-30px 0 var(--red), calc(-30px*0.707) calc(-30px*0.707) var(--blue)}
  75%   {box-shadow: 
          0 -30px var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue),
          0 0 var(--red), 0 0 var(--blue),-30px 0 var(--red), calc(-30px*0.707) calc(-30px*0.707) var(--blue)}
  87.5% {box-shadow: 
          0 -30px var(--red), calc(30px*0.707) calc(-30px*0.707) var(--blue),0 0 var(--red), 0 0 var(--blue),
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), calc(-30px*0.707) calc(-30px*0.707) var(--blue)}
  100%  {box-shadow: 
          0 -30px var(--red), calc(30px*0.707) calc(-30px*0.707) var(--blue),30px 0 var(--red), 0 0 var(--blue),
          0 0 var(--red), 0 0 var(--blue),0 0 var(--red), 0 0 var(--blue)}

}



/* GLITCH -------------------------------- */

.container-glich {
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.stack {
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.stack h3 {
  grid-row-start: 1;
  grid-column-start: 1;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack h3:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack h3:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/* BANNER PROFILE ------------------------- 
https://codepen.io/carloscdev/pen/mdBLmwP*/

.container {
  color: var(--white);
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height: 5vh;
  overflow: hidden;
  margin-left: 3rem;
}

.animation > div > div {
  padding: 0.9rem 0.75rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: var(--black);
}
.second div {
  background-color: var(--blue);
}
.third div {
  background-color: var(--red);
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -4.2rem;
  }
  30% {
    margin-top: -4.2rem;
  }
  40% {
    margin-top: -8.2rem;
  }
  60% {
    margin-top: -8.2rem;
  }
  70% {
    margin-top: -4.2rem;
  }
  80% {
    margin-top: -4.2rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* DESKTOP ----------------------------- */

@media only screen and (min-width: 600px) {

/* CURSOR------------------------------ https://codepen.io/OuterVale/embed/MYWQQoR?default-tab=result&theme-id=1 */

* {
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed; 
  height: 24px;
  width: 24px;
  background-color: var(--bgblack);
  transform: translate(-50%, -50%); 
  transform-origin: top left;
}

.click {
  scale: 0.8;
}

.pressable {
  scale: 1.3;
}

/* BANNER PROFILE */



  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: var(--black);
    font-family: "Monospac821 BT";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  h1,
  h2,
  h4 {
    font-size: 14px;
  }

  h3 {
    font-size: 190px;
  }

  h5 {
    font-size: 50px;
    margin: .5rem;
    text-align: center;

  }

  h5:hover {
    background: var(--black);
    color: var(--white);
  }

  p,
  a {
    text-decoration: none;

    font-size: 16px;
  }

  a:hover {
    background: var(--black);
    color: var(--white);
  }



  nav {
    height: 7vh;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > div {
    width: 80%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
  }

  section > div:nth-child(1) {
    margin: 0 3rem;
  }

  footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-top: var(--black) solid 1px;
  }

  /* ID -------------- */


  #section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #banner {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    justify-content: center;
    align-items: center;
  }

  #spline{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -999;
  }

  #ctn-video{
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -999;
    opacity: 26%;
  }

  #myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #section2 {
    display: flex;
    max-height: 250px;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #section2 > article {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
  }

  #section3 {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #section3 > div:nth-child(1) {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  #section3 > div:nth-child(3) {
    flex-direction: row-reverse;
  }

  /* COLLAPSE------------------------*/

  input[type="checkbox"] {
    display: none;
  }
  .lbl-toggle {
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  .lbl-toggle:hover {
    color: var(--black);
  }
  .lbl-toggle::before {
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }

  .collapsible-content {
    width: 50%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .collapsible-content .content-inner {
    background: var(--grey);
    border: 1px solid var(--black);
    padding: 0.5rem 1rem;
  }
  .collapsible-content p {
    margin-bottom: 0;
  }

  .ctn-content-proyecto{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #section4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 0;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 40vh;
  }

  #be{
    width: 15%;
    height: auto;
    margin: 1rem 0;
  }

  #be:hover{
    transform: scale(1.1);
    background: none;
    color: var(--black);
  }

  #mapa{
    border: none;
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
    filter: saturate(0);
    margin: 1rem 0;
  }

  #contenedor-contacto {
    display: flex;
    width: 70%;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    color: var(--black);
  }

  #contenedor-contacto > div:nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  #proyectos-contacto {
    display: flex;
    flex: 1 2 0;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #contacto-titulo {
    display: flex;
    text-align: center;
    width: 100%;
    min-height: 50vh;
    align-items: center;
  }

  #contacto-info {
    display: flex;
    flex: 1 1 0;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
  }

  #ctn-contacto-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }

  #ctn-contacto-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }

  #ctn-contacto-form p {
    padding: 0 1.5rem;
  }

  #ctn-contacto-form label {
    padding: 0 0.5rem;
  }

  #ctn-contacto-form input,
  #ctn-contacto-form textarea,
  #ctn-contacto-form button {
    width: 100%;
    border: var(--black) solid 1px;
    border-radius: 0;
    margin: 0.5rem;
    padding: 0.25rem;
  }

  #ctn-contacto-form form textarea {
    width: 100%;
    min-width: 300px;
    height: 100px;
  }

  #ctn-contacto-form button {
    color: var(--grey);
    background: var(--black);
    padding: 1rem;
  }

  #ctn-contacto-form button:hover {
    color: var(--black);
    background: var(--bgblack);
    padding: 1rem;
  }

  #herramientas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
    width: 100%;
  }

  #herramientas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #herramientas div:hover img {
    transform: scale(1.1);
  }

  #herramientas img {
    width: 100px;
  }

  #menu-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }


  #ctn-galeria {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    background: var(--grey);
  }

  #galeria {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
  }

  /* PROYECTO + ------------------------------ */

  #section5 {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #contenedor-proyecto-mockups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #contenedor-proyecto-mockups > img {
    width: 90%;
    height: auto;
    max-height: 200px;
  }

  /* PERFIL */

  #section6 {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 3rem;
  }

  #contenedor-perfil {
    width: 80%;
    min-height: 70vh;
    display: flex;
    justify-content: flex-start;
  }

  #imagenes-perfil {
    flex: 1 1 0;
    display: flex;
    margin: 0;
    padding: 0;
  }

  #imagenes-perfil > img {
    width: auto;
    max-width: 100px;
    height: 100%;
    object-fit: cover;
  }

  #imagenes-perfil > img:nth-child(1) {
    max-width: 200px;
  }

  #info-perfil {
    height: auto;
    padding: 0 1rem;
  }

  #info-perfil div {
    margin-bottom: 1.5rem;
  }

  #info-perfil > div > p {
    margin: 0.25rem 0;
    text-align: justify;
  }

  #info-perfil > div > p {
    font-size: 20px;
  }

  #info-perfil div> p:first-child:hover{
    font-weight: 600;
  }

  /* CLASES-------------------------------------- */

  .contenedor-proyecto {
    width: 100%;
    padding: 2rem 0;
    min-height: 400px;
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .imagen-proyecto {
    width: 40%;
    height: auto;
  }

  .imagen-proyecto > img {
    width: 100%;
    height: 100%;
  }

  .info-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detalles-proyecto {
    flex: 1 1 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
  }

  .titulo-proyecto {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  .titulo-proyecto > p {
    font-size: 20px;
    text-align: left;
  }

  .info-proyecto > p {
    font-size: 20px;
    text-align: left;
    margin: 1rem;
  }

  .imagen-secundaria-contenedor,
  .imagen-detalle-contenedor {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    max-width: 370px;
    height: auto;
  }

  .imagen-secundaria,
  .imagen-detalle {
    width: 370px;
    height: 158px;
    background: #d9d9d9;
  }
  .imagen-detalle {
    height: 100%;
    width: auto;
    max-width: 300px;
    background: #d9d9d9;
  }

  .imagen-secundaria > img {
    width: 100%;
    height: auto;
  }

  .imgcontacto {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .proyectos-contacto-img {
    height: auto;
    width: 300px;
  }

  .logo-footer {
    width: 100px;
    height: auto;
  }

  .ctn-card-proyecto {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: var(--white) 1px solid;
  }

  .ctn-card-proyecto:nth-last-child(1) {
    border-bottom: none;
  }

  .ctn-card-proyecto:hover {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ctn-vermas {
    width: 100%;
    height: 25%;
    min-height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .ver-mas {
    position: absolute;
    bottom: 25px;
    left: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-card {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 200px;
    margin: .5rem 0;
    align-self: flex-start;
  }

  .collapse-content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: .25rem;
    
  }

  .collapse-content>div:nth-child(1) {
    width: 75%;
    margin-left: 5rem;
  }

  .collapse-content p{
    padding: .5rem 0;
    margin: 0.5rem 0; 
  }

  .collapse-content span {
    font-weight: 600;
  }

  .titulo-card {
    font-size: 20px;
    padding: 1rem 0;
  }

  .titulo-perfil {
    color: var(--bgblack);
  }

  .titulo-perfil> span {
    color: var(--black);
    font-weight: 600;
  }

  .texto-perfil {
    display: none;
    color: var(--blue);
  }

  .ctn-content-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    object-fit: cover;
    border-top: var(--white) 1px solid;
    

  }

  .ctn-content-img > div {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    max-height: 300px;
    margin: 0;
    border-right: var(--white) 1px solid;
  }
  .ctn-content-img > div:last-child {
    border-right: none;
  }
  

  .ctn-content-img div> img {
    height: 100%;
    align-items: flex-start;
    max-width: 400px;
    object-fit: contain;
  }


  .link-be {
    background: var(--black);
    color: var(--white);
    padding: .5rem;
    margin: 3rem 0;
  }


}

/* MOBILE------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {
  *{
    color: var(--black);
    font-family: "Monospac821 BT", monospace;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  h1,
  h2,
  h4 {
    font-size: 10px;
  }

  h3 {
    font-size: 50px;
  }

  p,
  a {
    text-decoration: none;
    font-size: 10px;
  }

  a:hover {
    background: var(--black);
    padding: 1rem;
    color: var(--white);
  }


  nav {
    height: 8vh;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > div {
    width: 80%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
  }

  section > div:nth-child(1) {
    margin: 0 3rem;
  }

  footer {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-top: var(--black) solid 1px;
  }

  /* ID -------------- */

  #section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    min-height: 30vh;
  }

  #banner {
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #spline{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -999;
  }

  #ctn-video{
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -999;
    opacity: 26%;
  }

  #myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #section2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #section2 > article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  #section3 {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: center;
    align-items: center;
  }

  #section3 > div:nth-child(1) {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #section3 > div:nth-child(3) {
    flex-direction: row-reverse;
  }

  #section4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 0;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 40vh;
  }

  #contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }

  #contenedor-contacto > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  #proyectos-contacto {
    display: flex;
    flex: 1 2 0;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #contacto-titulo {
    text-align: center;
    width: 100%;
  }

  #contacto-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
  }

  #ctn-contacto-form {
    display: flex;
    flex-direction: column;
    flex: 2 2 2;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }

  #ctn-contacto-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  #ctn-contacto-form p {
    font-size: 14px;
    padding: 0 0.5rem;
    width: 100%;
  }

  #ctn-contacto-form label {
    padding: 0 0.25rem;
    width: 100%;
  }

  #ctn-contacto-form input,
  #ctn-contacto-form textarea,
  #ctn-contacto-form button {
    width: 100%;
    border: var(--black) solid 1px;
    border-radius: 0;
    padding: 0.15rem;
  }

  #ctn-contacto-form form textarea {
    width: 100%;
    min-width: 300px;
    height: 100px;
  }

  #ctn-contacto-form button {
    color: var(--white);
    background: var(--black);
    padding: 1rem;
  }

  #ctn-contacto-form button:hover {
    color: var(--white);
    background: var(--black);
    padding: 1rem;
  }

  #ctn-herramientas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #mapa{
    border: none;
    width: 100%;
    height: 100%;
    filter: saturate(0);
  }

  #herramientas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }

  #herramientas div{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  #herramientas:hover img {
    transform: scale(1.1);
  }


  #herramientas img {
    width: 100px;
  }

  #menu-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

   #ctn-galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    background: var(--grey);

  }

  #galeria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--black) solid 1px;
    border-bottom: var(--black) solid 1px;

  }

  /* PROYECTO + ------------------------------ */

  #section5 {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    justify-content: center;
    align-items: center;
  }

  #contenedor-proyecto-mockups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #contenedor-proyecto-mockups > img {
    width: 90%;
    height: auto;
    max-height: 200px;
  }

  /* PERFIL */

  #section6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: flex-start;
    align-items: center;
  }

  #contenedor-perfil {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #imagenes-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #imagenes-perfil > img {
    flex: 2 2 2;
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }

  #imagenes-perfil > img:nth-child(1) {
    width: 100%;
    max-height: 200px;
  }

  #info-perfil {
    flex: 1 1 1;
    height: auto;
    padding: 0 1rem;
    margin: 1rem 0 0 0;
    gap: 1rem;
  }

  #info-perfil div {
    margin-bottom: 2rem;
  }

  #info-perfil > div > p {
    margin: 0.25rem 0;
    text-align: justify;
  }

  #info-perfil > div > p {
    font-size: 14px;
  }

  /* CLASES-------------------------------------- */

  .animation div>div {
    color: var(--white) !important;
    
  }


  .contenedor-proyecto {
    width: 100%;
    padding: 2rem 0;
    min-height: 400px;
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .imagen-proyecto {
    width: 40%;
    height: auto;
  }

  .imagen-proyecto > img {
    width: 100%;
    height: 100%;
  }

  .info-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detalles-proyecto {
    flex: 1 1 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
  }

  .titulo-proyecto {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  .titulo-proyecto > p {
    font-size: 20px;
    text-align: left;
  }

  .info-proyecto > p {
    font-size: 20px;
    text-align: left;
    margin: 1rem;
  }

  .ver-mas > a {
    font-weight: 600;
  }

  .imagen-secundaria-contenedor,
  .imagen-detalle-contenedor {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    max-width: 370px;
    height: auto;
  }

  .imagen-secundaria,
  .imagen-detalle {
    width: 370px;
    height: 158px;
    background: #d9d9d9;
  }
  .imagen-detalle {
    height: 100%;
    width: auto;
    max-width: 300px;
    background: #d9d9d9;
  }

  .imagen-secundaria > img {
    width: 100%;
    height: auto;
  }

  .imgcontacto {
    width: 100%;
  }

  .proyectos-contacto-img {
    height: auto;
    width: 300px;
  }

  .logo-footer {
    width: 100px;
    height: auto;
  }

  .ctn-card-proyecto {
    width: 100%;
    height: 8%;
    min-height: 8%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--bgblack) 1px solid;

  }

  .ctn-card-proyecto:nth-last-child(1) {
    border-bottom: none;
  }

  .ctn-card-proyecto:active {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ctn-vermas {
    width: 100%;
    height: 50px;
    min-height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
  }

  .ver-mas {
    position: absolute;
    bottom: 25px;
    left: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-card {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 200px;
    margin: 0;
  }

  
  .collapse-content {
    height: 15%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
  }

  .collapse-content>div:nth-child(1) {
    width: 100%;
    margin: .25rem 0;
  }

  .collapse-content p{
    padding: .5rem 0;
  }

  .collapse-content span {
    font-weight: 600;
  }

  .titulo-card {
    font-size: 20px;
    padding: 1rem 0;
  }

  .titulo-perfil {
    color: var(--bgblack);
  }

  .titulo-perfil> span {
    color: var(--black);
    font-weight: 600;
  }

  .texto-perfil {
    display: none;
    color: var(--blue);
  }

  .ctn-content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ctn-content-img div>img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 25vh;
    margin: .25rem 0;
  }

  .link-be {
    background: var(--black);
    color: var(--white);
    padding: .25rem;
    margin: 3rem 0;
  }


}
